#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#footer div {
    color: #aaa;
    padding: 20px;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: 300;
    text-align: center;
    width: 360px;
}

svg {
    fill: none;
    stroke-width: 20px;
}

.marker {
    stroke-width: 40px;
}

text {
    font-size: 90px;
    stroke-width: 5px;
    user-select: none;
}
.label {
    font-size: 25px;
    stroke-width: 0;
}
